extends layout

block content
  .main.container
   .row
      .col-md-6.col-md-offset-3
         h1.display-4.m-b-2 Nuevo parte de servicio

         form(method='POST' action='/end_turn')
            button.btn.btn-primary(type='submit') Añadir