extends layout

block content
		div.row
			div.col-md-5.functionality-container
				p Fotografía de los hechos
				input#inputfile(type="file", accept="image/*", capture="camera")
				<label for="inputfile">Hacer foto</label>

			div.col-md-5.col-md-offset-2.functionality-container(onclick="window.location.href = '/incident_home'")
				p Partes de servicio

		div.row
			div.col-md-5.functionality-container
				p third functionality
			div.col-md-5.col-md-offset-2.functionality-container
				p fourth functionality
		div.row
			div.col-md-5.functionality-container
				p fifth functionality
			div.col-md-5.col-md-offset-2.functionality-container
				p sixth functionality

		
		
		a(href='/signout', class='text-center new-account') Sign Out
		