extends layout

block content
		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_accident_2_vehicle'")
				p Accidente 2 vehículos

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_accident_3_vehicle'")
				p Accidente 3 vehículos
