extends layout

block content
		div.row
			div.col-md-5.functionality-container(onclick="window.location.href = '/home_incident'")
				p Partes de servicio
			div.col-md-5.col-md-offset-2.functionality-container(onclick="window.location.href = '/home_ordinance'")
				p Ordenanzas
		div.row
			div.col-md-5.functionality-container(onclick="window.location.href = '/home_accidents'")
				p Accidentes
			div.col-md-5.col-md-offset-2.functionality-container(onclick="window.location.href = '/home_sketch'")
				p Nuevo croquis
		div.row
			div.col-md-5.functionality-container(onclick="window.location.href = '/fill_send_sketch'")
				p Enviar croquis
			div.col-md-5.col-md-offset-2.functionality-container
				//- p sixth functionality

		
		
		a(href='/signout', class='text-center new-account') Sign Out
		