extends layout

block content
		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_clean_ordinance'")
				p Ordenanza de limpieza

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/home_noise_ordinance'")
				p Ordenanza de ruidos

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/home_work_waste_ordinance'")
				p Ordenanza de obras - residuos

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_end_turn'")
				p Ordenanza de perros - animales
		