extends layout

block content
		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_botellon_ordinance'")
				p Acta denuncia por botellón

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_noise_residency_ordinance'")
				p Acta denuncia por ruido - molestias (domicilio)

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_noise_establishment_ordinance'")
				p Acta denuncia por ruido - molestias (establecimiento)

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_noise_measurement_ordinance'")
				p Acta medición de ruidos
		