extends layout

block content
		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_new_turn'")
				p Nuevo parte de servicio

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/fill_incident'")
				p Nueva incidencia

		div.row
			div.col-md-6.col-md-offset-3.functionality-container(onclick="window.location.href = '/end_turn'")
				p Terminar turno
		