body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lavender !important;
}

a {
  color: #00B7FF;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}

.functionality-container{
    background-color: lemonchiffon;
    padding: 60px;
    margin: 15px auto;
    border-radius: 8px;
    box-shadow: 6px 6px 40px 0px rgba(0,0,0,0.75);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.functionality-container p{
    font-size: 20px;
}
#inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color:gold;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

#inputfile:focus + label,
#inputfile + label:hover {
    background-color: goldenrod;
}

.radio{
    display: inline-block !important;
    margin-right: 5% !important;
}

.checkbox-label{
    margin-right: 5%;
}

#timetable{
    display: none;
}

.police_ids{
    margin-right: 5px;
}

.end_turn_inputs{
    width: 40% !important;
}

.end_turn_left{
    width: 40% !important;
}

.form_container{
    overflow: auto;
}

#desc_6, #other_liquid_desc, #other_solid_desc{
    display: none;
}

textarea {
    resize: none;
}

#button_add_injured{
    margin: 0px;
    padding: 0px;
}

canvas{
    position: absolute;
    margin: 5% 5%;
}

#frame{
    touch-action: none;
}
